@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    /* Primary colors */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* Neutral colors */
    --Very-dark-blue-main: hsl(217, 54%, 11%);
    /*  (main BG) */
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    /* (card BG) */
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    /* (line) */
    --White: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Very-dark-blue-main);
    overflow: hidden;
}

.card-nft {
    background-color: var(--Very-dark-blue-card);
    margin: 2rem 1.5rem;
    padding: 1.6rem;
    border-radius: 1rem;
    max-width: 380px;
    -webkit-box-shadow: 0 25px 0 10px rgba(20, 20, 20, 0.2),
    0 25px 0 40px rgba(20, 20, 20, 0.15);
    -moz-box-shadow: 0 25px 0 10px rgba(20, 20, 20, 0.2),
    0 25px 0 40px rgba(20, 20, 20, 0.15);
    box-shadow: 0 25px 0 10px rgba(20, 20, 20, 0.2),
    0 25px 0 40px rgba(20, 20, 20, 0.15);
}

.card-nft__header {
    margin-bottom: 1.6rem;
    position: relative;
    cursor: pointer;
}

.card-nft__header::before,
.card-nft__header::after {
    content: '';
    position: absolute;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 3px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card-nft__header::before {
    background-color: var(--Cyan);
}

.card-nft__header:hover::before {
    opacity: 0.5;
}

.card-nft__header::after {
    background-image: url('../images/icon-view.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition-delay: 0.1s;
}

.card-nft__header:hover::after {
    opacity: 1;
}


.header__img {
    border-radius: 0.5rem;
}

.card-nft__main {
    border-bottom: 1px solid var(--Very-dark-blue-line);
}

.main__title {
    color: var(--White);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

@media screen and (min-width: 800px) {
    .main__title {
        font-size: 1.5rem;
    }
}

.main__title:hover {
    color: var(--Cyan);
}

.main__title--light {
    font-weight: 400;
}

.main__text {
    color: var(--Soft-blue);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
}

@media screen and (min-width: 800px) {
    .main__text {
        font-size: 1.1rem;
    }
}

.main__group-text {
    display: flex;
    justify-content: space-between;
}

.main__text-cost {
    color: var(--Cyan);
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
}

.main__text-cost::before {
    content: '';
    display: block;
    width: 20px;
    height: 25px;
    margin: 0 0.3rem 0 0;
    background-size: 13px 23px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/icon-ethereum.svg);
}

.main__text-time {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
    font-weight: 400;
}

.main__text-time::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 0.3rem 0 0;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/icon-clock.svg);
}

.card-nft__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.4rem 0 0;
}

.footer__avatar {
    width: 35px;
    height: 35px;
    border: 1px solid var(--White);
    border-radius: 50%;
}

.footer__text {
    color: var(--Soft-blue);
    font-weight: 300;
    font-size: 1rem;
}

@media screen and (min-width: 800px) {
    .footer__text {
        font-size: 1.1rem;
    }
}

.footer__text--white {
    color: var(--White);
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer__text--white:hover {
    color: var(--Cyan);
}